/* This is a single-line comment */

body {
  background-image: url("Img/_Backgoundstreet.jpg");
  }

h1 {
  color: rgb(252, 249, 249);
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
h2 {
    color: aliceblue;
    text-align: center;
    font-family: urban;
}





